<!DOCTYPE html>
<html>
	<head>
		<title>mf2</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="static/images/favicon.png" />
		
		<link href="/static/css/reset.css" type="text/css" rel="stylesheet" />
		<link href="/static/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css" rel="stylesheet" />
		<!-- <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" /> -->
		<link href="/static/css/jquery.tagit.css" type="text/css" rel="stylesheet" />
		<link href="/static/css/jquery-ui-custom.css" type="text/css" rel="stylesheet" />
		<link href="/static/css/common.css" type="text/css" rel="stylesheet" />
		<link href="/static/css/site.css" type="text/css" rel="stylesheet" />
		<link href="/static/css/payment.css" type="text/css" rel="stylesheet" />
		<link href="/static/css/settings.css" type="text/css" rel="stylesheet" />
		
		<!-- libraries 
			-->
		
		{% comment %} todo: use local versions of libs in https mode {% endcomment %}
		
		<!-- local -->
		<script type="text/javascript" src="/static/js/lib/json2.js"></script>
		<script type="text/javascript" src="/static/js/lib/underscore-1.1.7.js"></script>
		<script type="text/javascript" src="/static/js/lib/underscore.string-1.1.4.js"></script>
		<script type="text/javascript" src="/static/js/lib/jquery-1.6.2.js"></script>
		<script type="text/javascript" src="/static/js/lib/jquery-ui-1.8.16.js"></script>
		<script type="text/javascript" src="/static/js/lib/backbone-0.5.3.js"></script>
		
		<!-- CDN -->
		<!--
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.string/1.1.4/underscore.string.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js"></script>
		-->
		
		<!-- local only -->
		<script type="text/javascript" src="/static/js/lib/tag-it.js"></script>
		<script type="text/javascript" src="/static/js/lib/doT.js"></script>
		
		<script type="text/javascript" src="/static/js/lib/templatesCollector.js"></script>
		<script type="text/javascript" src="/static/js/lib/rib.js"></script>
		
		<!-- some tricks 
			-->
		
		<script type="text/javascript" src="/static/js/tricks.js"></script>
		
		<!-- application 
			-->
		
		<script type="text/javascript" src="/static/js/app/core.js"></script>
		<script type="text/javascript" src="/static/js/app/payment.js"></script>
		<script type="text/javascript" src="/static/js/app/payment/views.form.js"></script>
		<script type="text/javascript" src="/static/js/app/payment/views.list.js"></script>
		<script type="text/javascript" src="/static/js/app/tag.js"></script>
		<script type="text/javascript" src="/static/js/app/t2p.js"></script>
		<script type="text/javascript" src="/static/js/app/vault.js"></script>
		<script type="text/javascript" src="/static/js/app/filter.js"></script>
		<script type="text/javascript" src="/static/js/app/settings.js"></script>
		<script type="text/javascript" src="/static/js/app/app.js"></script>
		<script type="text/javascript" src="/static/js/app/router.js"></script>
		
		<script type="text/javascript">
			$(function(){
				core.init( {{initial_data}} );
			});
		</script>
		
		<style id="filter-style"></style>
	</head>
	<body>
		
		<div id="modal-dialog">
		</div>
		
		<div class="top"><div class="padding"><div class="padding">
			<div class="veil"></div>
			<div class="settings-wrap">
				<div id="sys-settings" class="icon settings" title="Настройки"></div>
			</div>
			<a href="#!/new/payment" id="add-payment" class="icon add" title="Добавить платеж"></a>
			<div class="user-info">
				<span class="balance plus">2356 $</span> 
				<span class="user-name">pozadi</span> 
				(<span class="clickable">выйти</span>)
			</div>
		</div></div></div><!-- / .top -->
		
		<div class="middle">
			
			<div id="settings"><div class="panel"><div class="padding">
				<h2>Настройки</h2>
				<form class="settings-form">
					<ul class="menu">
						<li class="view current">Вид</li>
						<li class="currencies">Валюты</li>
						<li class="import">Импорт / экспорт</li>
					</ul>
					<div class="content">
						<div class="view current"> 
							вид 
						</div>
						<div class="currencies"> 
							валюты 
						</div>
						<div class="import"> 
							импорт / экспорт
						</div>
					</div>
					<div class="clear delimiter"></div>
					<input type="submit" value="Сохранить" /> <span class="clickable cancel">отмена</span>
				</form>
			</div></div></div><!-- #settings -->
			
			
			<div class="sidebar"><div class="padding">
				<a href="#!" class="logo">β</a>
				
				<div class="block filters" id="filters-block">
					<h3>
						<span class="text">
							Фильтры<div class="expand"></div>
						</span>
						<a href="#!new/filter" class="icon add" title="Добавить"></a>
					</h3>
					<ul class="list">
					</ul>
				</div>
				
				<div class="block vaults" id="vaults-block">
					<h3>
						<span class="text">
							Хранилища<div class="expand"></div>
						</span>
						<a href="#!new/vault" class="icon add" title="Добавить"></a>
					</h3>
					<ul class="list">
					</ul>
				</div>
				
				<div class="block tags" id="tags-block">
					<h3>
						<span class="text">
							Теги<div class="expand"></div>
						</span>
					</h3>
					<ul class="list">
					</ul>
				</div>
			</div></div><!-- / .sidebar -->
			
			
			
			<div class="center"><div class="padding">
				
				<ul id="payments-list">
					<!-- Here will be payments -->
				</ul>
				
				<div class="total"><div class="padding">
					<span class="title">Итого:</span> <span class="plus">0</span> - <span class="minus">0</span> = <span class="result">0</span>
				</div></div>
				
				<div class="footer">
					Powered by <a href="https://github.com/pozadi/mf2">mf2</a>
				</div>
				
			</div></div><!-- / .center -->
			
			
			
			<div class="clear"></div>
			
			
		</div><!-- / .middle -->
		
		<!-- templates -->
		{% for t in js_templates %}
		    {% include t %}
		{% endfor %}
		
	</body>
</html>
