<!DOCTYPE html>
<html>
	<head>
		<title>mf2</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="static/images/favicon.png" />
		
		<link href="/static/css/reset.css" type="text/css" rel="stylesheet" />
		<link href="/static/css/site.css" type="text/css" rel="stylesheet" />
		
		<!-- libraries -->
		
		{% comment %} todo: use local versions of libs in https mode {% endcomment %}
		
		<!-- script type="text/javascript" src="/static/js/lib/json2.js"></script>
		<script type="text/javascript" src="/static/js/lib/underscore.js"></script>
		<script type="text/javascript" src="/static/js/lib/underscore.string.js"></script>
		<script type="text/javascript" src="/static/js/lib/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="/static/js/lib/backbone.js"></script -->
		
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.string/1.1.4/underscore.string.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
		
		<script type="text/javascript" src="/static/js/lib/rib.js"></script>
		<script type="text/javascript" src="/static/js/lib/doT.js"></script>
		<script type="text/javascript" src="/static/js/lib/templatesCollector.js"></script>
		
		<!-- some tricks -->
		<script type="text/javascript" src="/static/js/tricks.js"></script>
		
		<!-- application -->
		<script type="text/javascript" src="/static/js/app/core.js"></script>
		<script type="text/javascript" src="/static/js/app/payment.js"></script>
		<script type="text/javascript" src="/static/js/app/tag.js"></script>
		<script type="text/javascript" src="/static/js/app/t2p.js"></script>
		<script type="text/javascript" src="/static/js/app/vault.js"></script>
		<script type="text/javascript" src="/static/js/app/filter.js"></script>
		<script type="text/javascript" src="/static/js/app/settings.js"></script>
		<script type="text/javascript" src="/static/js/app/app.js"></script>
		<script type="text/javascript" src="/static/js/app/router.js"></script>
		
		<script type="text/javascript">
			var initial_data = {{initial_data}};
		</script>
		
		<script type="text/javascript">
			$(function(){
				core.init(initial_data, Vault, Filter, Payment, Tag, T2p, AppView);
			});
		</script>
	</head>
	<body>
		
		<div id="modal-dialog">
		</div>
		
		<div class="top"><div class="padding"><div class="padding">
			<div id="add-payment" class="icon add" title="Добавить платеж"></div>
			<div id="sys-settings" class="icon settings" title="Настройки"></div>
			<div class="user-info">
				<span class="balance plus">2356 $</span> 
				<span class="user-name">pozadi</span> 
				(<span class="clickable">выйти</span>)
			</div>
		</div></div></div><!-- / .top -->
		
		<div class="middle">
			
			<div class="settings-wrap">
				<div id="settings"><div class="padding">
					<h2>Настройки</h2>
					<form>
						<ul class="menu">
							<li class="views">Вид</li>
							<li class="curencies current">Валюты</li>
							<li class="import">Импорт / экспорт</li>
						</ul>
						<div class="content">
							
						</div>
						<div class="clear delimiter"></div>
						<input type="submit" value="Сохранить" /> <span class="clickable cancel">отмена</span>
					</form>
				</div></div><!-- #settings -->
			</div>
			
			<div class="sidebar"><div class="padding">
				<div class="logo"></div>
				
				<div class="block filters">
					<h3>
						<span class="text">
							Фильтры<div class="expand"></div>
						</span>
						<div class="icon add" id="add-filter" title="Добавить"></div>
					</h3>
					<ul id="main-filters-list">
					</ul>
				</div>
				
				<div class="block vaults">
					<h3>
						<span class="text">
							Хранилища<div class="expand"></div>
						</span>
						<div class="icon add" id="add-vault" title="Добавить"></div>
					</h3>
					<ul id="main-vaults-list">
					</ul>
				</div>
				
				<div class="block tags" id="tags-block">
					<h3>
						<span class="text">
							Теги<div class="expand"></div>
						</span>
					</h3>
					<ul class="list">
					</ul>
				</div>
			</div></div><!-- / .sidebar -->
			
			<div class="center"><div class="padding">
				
				<ul id="payments-list">
					<!-- Here will be payments -->
				</ul>
				
				<div class="total"><div class="padding">
					<span class="title">Итого:</span> <span class="plus">1245</span> - <span class="minus">227</span> = 965
				</div></div>
				
				<div class="footer">
					Powered by <a href="https://github.com/pozadi/mf2">mf2</a>
				</div>
				
			</div></div><!-- / .center -->
			
			<div class="clear"></div>
			
		</div><!-- / .middle -->
		
		<!-- templates -->
		{% for t in js_templates %}
		    {% include t %}
		{% endfor %}
		
	</body>
</html>
