<script type="text/html" class="template" data-bind="filter.in-list">
	<li id="cid_<%= it.cid %>">
		<a href="#!by/filter/<%= it.id || it.cid %>" class="text"><span class="name"><%! it.name %></span></a>
		<%#def['tooltip.standart-settings']%>
	</li>
</script>

<script type="text/html" class="template" data-bind="filter.form">
	<h2>Фильтр</h2>	
	
	<table class="form-table">
		<tr>
			<td><label for="name_<%! it.cid %>">Название:</label></td>
			<td><input type="text" id="name_<%! it.cid %>" class="name" value="<%! it.name %>"/></td>
		</tr>
	</table>
	
	<input type="submit" value="Сохранить" /> <span class="clickable cancel">отмена</span>
</script>