<script type="text/html" class="template" data-bind="tag.big-list">
	<li id="cid_<%= it.cid %>">
		<a href="#!/by/tag/<%= it.id || it.cid %>" class="text"><span class="name"><%! it.name %></span> (<span class="payments"></span>)</a>
		<%#def['tooltip.standart-settings']%>
	</li>
</script>

<script type="text/html" class="template" data-bind="tag.small-list">
	<li class="cid_<%= it.cid %> tag">
		<%! it.name %>
	</li>
</script>

<script type="text/html" class="template" data-bind="tag.form">
	<h2>Тег</h2>	
	
	<table class="form-table">
		<tr>
			<td><label for="name_<%! it.cid %>">Название:</label></td>
			<td><input type="text" id="name_<%! it.cid %>" class="name" value="<%! it.name %>"/></td>
		</tr>
	</table>
	
	<input type="submit" value="Сохранить" /> <span class="clickable cancel">отмена</span>
</script>