/* ----------------- Settings */

#settings {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(221, 221, 221, 0.6);
	z-index: 100;
	display: none;
}
	#settings .panel {
		height: 490px;
		border-bottom: 1px solid #ccc;
		clear: both;
		padding-top: 40px; /* depends on .top(height) */
		background: white;
		display: none;
		
		/*-moz-box-shadow: 0 1px 5px #ccc;
		-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#ccc')";
		-o-box-shadow: 0 1px 5px #ccc;
		-webkit-box-shadow: 0 1px 5px #ccc;*/
	}
		#settings .padding {
			padding: 0;
			width: 898px;
			margin: 0 auto;
		}
			#settings h2 {
				border-bottom: none;
				margin-left: 200px;
			}
			#settings .menu {
				/*background: #fee;*/
				width: 200px;
				height: 398px;
				float: left;
				margin-right: -1px;
				position: relative;
				z-index: 10;
				text-align: left;
			}
				#settings .menu li {
					padding: 15px;
					border: 1px solid #EBEBEB;
					/*border-top-style: none;*/
					margin-top: -1px;
					cursor: pointer;
					margin-left: 10px;
				}
				#settings .menu li:first-child { margin-top: 0; }
				#settings .menu li.current { 
					border-right-color: white;
					cursor: default;
					font-weight: bolder;
					margin-left: 0;
					background: white !important;
				}
				#settings .menu li:hover { background: #f5f5f5; }
				#settings .menu li:active { background: white; }
			#settings .content {
				float: right;
				width: 697px;
				height: 400px;
				border: 1px solid #EBEBEB;
				position: relative;
				z-index: 5;
			}
				#settings .content > div {
					padding: 10px;
					text-align: left;
					display: none;
				}
				#settings .content > div.current {
					display: block;
				}
			.delimiter {
				height: 15px;
			}

/* Head settings mode stuff */
.top .veil {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 110;
	background-color: rgba(221, 221, 221, 0.6);
	display: none;
}
.settings-wrap {
	position: absolute;
	margin-left: 24px;
	padding: 0 1px 0 0;
	height: 100%;
	z-index: 120;
	border: 1px #f1f1f1;
	border-style: none solid;
}
.settings-mode .settings-wrap {
	padding-left: 5px;
	background: white;
	border-color: #ccc;
	border-style: none solid solid solid;
	border-bottom-color: white;
}
.top.settings-mode .veil { display: block; }
