/* ----------------- Common */

.clear {
	clear: both;
}

.icon {
	width: 16px;
	height: 16px;
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
}

.icon.edit     { background-image: url('/static/images/icons/edit.png')     }
.icon.delete   { background-image: url('/static/images/icons/delete.png')   }
.icon.settings { background-image: url('/static/images/icons/settings.png') }
.icon.add      { background-image: url('/static/images/icons/plus.png')     }
.icon.home     { background-image: url('/static/images/icons/home.png')     }

.clickable {
	border-bottom: 1px dashed;
	cursor: pointer;
}

.plus {
	color: green;
}

.minus {
	color: red;
}

.tooltip-contener {
	position: relative;	
}
	.tooltip {
		display: block;
		position: relative;
		top: 0;
		right: -16px; /* depends on .icon(width) */
		visibility: hidden;
	}
	.tooltip-contener:hover > .tooltip {
		visibility: visible;
		cursor: default;
	}
		.tooltip .content {
			position: absolute;
			border: 1px solid #b2b2b2;
			background: white;
			padding: 5px;
			left: 6px;
			top: -3px;
			z-index: 5;
		}
		.tooltip .arrow {
			width: 7px;
			height: 13px;
			top: 2px;
			left: 0;
			position: absolute;
			z-index: 10;
			background: url('/static/images/tooltip-left.png');
		}
	

/* ----------------- Layout */

html, body {
	min-width: 900px;
	height: 100%;
	background-color: white;
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: 1.4;
}

.padding {
	padding: 0;
}

.top {
	position: fixed;
	height: 29px;
	top: 0;
	right: 0;
	left: 0;
	overflow: visible;
	background: #f1f1f1;
	border-bottom: 1px solid #d2d2d2;
	z-index: 10;
}
	.top > .padding {
		width: 900px;
		margin: 0 auto;
	}
		.top > .padding > .padding {
			margin-left: 210px;
			margin-right: 10px;
		}
		
.middle {
	margin: 0 auto;
	width: 900px;
	position: relative;
	z-index: 5;
	height: 100%;
}
	.sidebar {
		width: 200px;
		float: left;
	}
		.sidebar > .padding {
			padding: 10px;
			margin-top: 30px; /* depends on .top(height) */
		}
			.logo {
				background: url('/static/images/logo.png');
				width: 100px;
				height: 100px;
				margin: 0 auto;
			}
	
	.center {
		width: 700px;
		height: 100%;
		float: right;
	}
		.center > .padding {
			padding: 15px 15px 50px 15px;
			margin: 10px;
			margin-top: 40px; /* depends on .top(height) */
			margin-bottom: 30px; /* depends on .footer(height) */
			border: 1px solid #EBEBEB;
			min-height: 80%;
			position: relative;
		}
			.footer {
				height: 20px;
				padding-top: 10px;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -30px;
				color: #666;
				font-size: 11px;
				text-align: center;
			}

/* ----------------- Private */

/* --- Head */

.top .icon {
	width: 18px;
	height: 18px;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #f7f7f7;
	float: left;
	margin-top: 5px;
	margin-right: 4px;
}
.top .icon:hover {
	border-color: #b2b2b2;
}
.top .icon:active {
	background-color: #e8e8e8;
}

.user-info {
	float: right;
	padding-top: 5px; 
}
	.user-name {
		padding-left: 18px;
		background: url('/static/images/icons/user.png') no-repeat;
	}
	
#add-payment {
}

	
/* --- Sidebar */

.sidebar .block {
	margin: 20px 0 0 35px;
}
	.sidebar h3 {
		font-size: 15px;
		background: no-repeat 0 4px;
		padding-left: 18px;
	}
	.sidebar .filters  h3 { background-image: url('/static/images/icons/filter.png')      }
	.sidebar .storages h3 { background-image: url('/static/images/icons/credit_card.png') }
	.sidebar .tags     h3 { background-image: url('/static/images/icons/tag.png')         }
	.sidebar ul {
		margin-left: 30px;
	}

/* --- Payments list */

#payments-list {
}
	li.payment {}
	li.payment:first-child {}
		li.payment .tooltip .content {
			white-space: nowrap;
			height: 16px; /* no idea why it 20 by default*/
			top: -5px;
		}
			li.payment .tooltip .icon:first-child {
				margin-right: 5px;
			}
		li.payment .settings { 
			float: right;
			visibility: hidden;
			margin-top: 8px;
			cursor: default;
		}
		li.payment:hover .settings { visibility: visible }
		li.payment .text {
			display: block;
			padding: 8px 0 2px 0;
			line-height: 16px;
			border-bottom: 1px solid #eee;
			margin-right: 24px;
		}
			li.payment .value {
				float: right;
				text-align: right;
			}
			li.payment .name {
				margin-right: .5em;
			}
			li.payment .tag-list {
				display: inline-block;
				font-size: 11px;
				color: #888;
				position: relative;
				bottom: 1px;
			}
				li.payment li {
					display: inline;
					margin-right: 7px;
					background: no-repeat 0 2px;
					padding-left: 12px; 
				}
				li.payment li.filter  { background-image: url('/static/images/icons/filter_s.png')      }
				li.payment li.tag     { background-image: url('/static/images/icons/tag_s.png')         }
				li.payment li.storage { background-image: url('/static/images/icons/credit_card_s.png') }
		
.total {
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 35px;
}
	.total > .padding {
		margin: 0 30px 0 15px;
		padding: 5px 0;
	}
		.total .title {
			float: left;
		}


/* --- Temp */

#form-wrap {
	position: fixed;
	left: 50%;
	top: 0;
	z-index: 20;
}
	form.payment {
		padding: 10px;
		background: white;
		margin-top: 20px;
		border: 1px solid black;
	}
