/* ----------------- Common */

.clear {
	clear: both;
}

.icon {
	width: 16px;
	height: 16px;
	background-position: center center;
	display: inline-block;
	cursor: pointer;
}

.icon.edit   { background-image: url('/static/images/icons/edit.png') }
.icon.delete { background-image: url('/static/images/icons/delete.png') }

.clickable {
	border-bottom: 1px dashed;
	cursor: pointer;
}

/* ----------------- Layout */

html, body {
	min-width: 900px;
	height: 100%;
	position: relative;
}

.padding {
	padding: 10px;
}

.top {
	height: 30px;
	overflow: hidden;
	background: #fef;
}

.middle {
	position: absolute;
	top: 30px;
	bottom: 30px;
	right: 0;
	left: 0;
}
	.sidebar,
	.center {
		height: 100%;
		overflow: auto;
	}
	
	.sidebar {
		float: left;
		width: 300px;
		background: #eff;
	}
	
	.center {
		background: #ffe;
	}

.bottom {
	position: absolute;
	height: 30px;
	width: 100%;
	bottom: 0;
	overflow: hidden;
	background: #fef;
}

/* ----------------- Private */


#payments-list {
	padding: 10px 0;
	margin-bottom: 10px;
}
	li.payment {
		padding: 7px 0 3px 0;
		line-height: 16px;
		border-bottom: 1px solid #eee; 
	}
		li.payment .icon { 
			display: none; 
			float: right;
			margin: 0 5px;
		}
		li.payment:hover .icon { display: inline-block }
		li.payment .value {
			float: right;
			width: 50px;
			text-align: right;
		}
#add-payment {
}

#form-wrap {
	position: fixed;
	right: 20px;
	top: 0;
}
	form.payment {
		/*box-shadow: 0 0 10px #888;*/
		padding: 10px;
		background: white;
		margin-top: 20px;
	}
