/* ----------------- Layout */

html, body {
	min-width: 900px;
	height: 100%;
	background-color: white;
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: 1.4;
	/*background: #fbfbfb;*/
}

.padding {
	padding: 0;
}

.top {
	position: fixed;
	height: 29px;
	top: 0;
	right: 0;
	left: 0;
	overflow: visible;
	background: #f1f1f1;
	border-bottom: 1px solid #d2d2d2;
	z-index: 10;
}
	.top > .padding {
		width: 900px;
		margin: 0 auto;
	}
		.top > .padding > .padding {
			margin-left: 200px;
		}
		
.middle {
	margin: 0 auto;
	width: 900px;
	position: relative;
	z-index: 5;
	height: 100%;
}
	.sidebar {
		width: 200px;
		float: left;
	}
		.sidebar > .padding {
			padding: 10px;
			margin-top: 30px; /* depends on .top(height) */
			padding-right: 0;
		}
			.logo {
				background: url('/static/images/logo.png');
				width: 100px;
				height: 100px;
				margin: 0 auto;
				display: block;
				color: #555;
				font-size: 16px;
				text-align: right;
				text-decoration: none;
			}
	
	.center {
		width: 700px;
		height: 100%;
		float: right;
	}
		.center > .padding {
			padding: 15px 15px 50px 15px;
			margin-right: 0;
			margin-top: 40px; /* depends on .top(height) */
			margin-bottom: 30px; /* depends on .footer(height) */
			border: 1px solid #EBEBEB;
			/* min-height: 75%; */
			position: relative;
			/*background: #fff;*/
		}
			.footer {
				height: 20px;
				padding-top: 10px;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -30px;
				color: #666;
				font-size: 11px;
				text-align: center;
			}

/* ----------------- Private */

/* --- Head */

.top .icon {
	width: 18px;
	height: 18px;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #f7f7f7;
	float: left;
	margin-top: 5px;
	margin-right: 4px;
}
.top .icon:hover {
	border-color: #b2b2b2;
}
.top .icon:active {
	background-color: #e8e8e8;
}

.user-info {
	float: right;
	padding-top: 5px; 
}
	.user-name {
		padding-left: 18px;
		background: url('/static/images/icons/user.png') no-repeat;
	}
	
.top .tooltip {
	right: -19px;
}
	.top .tooltip .content {
		padding: 0;
		width: 100px;
	}
		.top .tooltip li {
			padding: 1px 5px;
		}
		.top .tooltip li:hover { background: #eee; }
		.top .tooltip .clickable { 
			white-space: nowrap;
			border-style: none;
			cursor: default;
		}
		
	
/* --- Sidebar */

.sidebar .block {
	margin: 20px 0 0 25px;
}
	.sidebar h3 {
		font-size: 15px;
		background: no-repeat 0 4px;
		padding-left: 18px;
		position: relative;
	}
	.sidebar .filters h3 { background-image: url('/static/images/icons/filter.png')      }
	.sidebar .vaults  h3 { background-image: url('/static/images/icons/credit_card.png') }
	.sidebar .tags    h3 { background-image: url('/static/images/icons/tag.png')         }
		.sidebar h3 .text {
			cursor: pointer;
		}
			.sidebar h3 .expand {
				display: inline-block;
				width: 10px;
				height: 10px;
				background: url('/static/images/icons/expanded1.png') no-repeat center center;
				margin-left: 5px;
				position: relative;
				top: 1px;
			}
			.sidebar .folded h3 .expand { background-image: url('/static/images/icons/folded1.png') }
		.sidebar h3 .add {
			visibility: hidden;
			position: absolute;
			right: 3px;
			top: 3px;
		}
		.sidebar h3:hover .add { visibility: visible; }
	.sidebar ul {
		margin-left: 25px;
	}
	/*.sidebar .folded ul { display: none; }*/
		.sidebar li {
			padding: 0 0 0 5px;
		}
		.sidebar li:hover { background: #eee; }
		.sidebar li.current { background: #e0e0e0; }
			.sidebar li .text {
				cursor: pointer;
				text-decoration: none;
				color: black;
			}
			.sidebar li .settings {
				margin-right: 3px;
				float: right;
				visibility: hidden;
			}
			.sidebar li:hover .settings { visibility: visible; }

/* ----------------- Forms */

